<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeSetCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>377E060B1EEEEAF90053E3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377E06221EEEEAF90053E3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377E062D1EEEEAF90053E3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
